<main class="relative">
  <div class="absolute inset-0 z-10 flex items-center justify-center bg-black bg-opacity-40">
    <h2  class="text-4xl font-bold text-center text-white md:text-5xl">
      {{ currentTitle }}
    </h2>
  </div>
  <div class="main-image">
    <img src="deliver.webp" alt="hero" class="object-cover w-full h-80" />
  </div>
</main>

<h3 class="mt-10 mb-6 text-3xl font-semibold text-center text-gray-800 dark:text-white">Our Products</h3>

<p-carousel
  [value]="productsInfo"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="3000"
  styleClass="px-4 md:px-16"
>
<ng-template let-product #item>
    <div class="relative p-4 mb-4 transition-transform bg-white border shadow-md rounded-xl dark:bg-gray-900 hover:shadow-lg hover:scale-105">
        <div class="mb-4">
            <div class="flex items-center justify-center w-full h-48 overflow-hidden bg-gray-100 rounded-lg dark:bg-gray-800">
                <img
                    [src]="product.imageUrl"
                    [alt]="product.name"
                    class="object-cover w-full h-full"
                    style="max-width:30%; max-height:100%;"
                />
            </div>
        </div>

        <div class="mb-2 text-lg font-medium text-gray-900 dark:text-white">
            {{ product.name }}
        </div>

        <!-- <div class="text-sm text-gray-500 line-through dark:text-gray-400">
            {{ getPreviosPriceAfterDiscount(product.price, product.discount) }}
        </div> -->

        <p-tag
            [value]="'hot'"
            [severity]="'success'"
            styleClass="absolute bg-green-600 text-white text-xs font-bold px-2 py-1 rounded dark:!bg-surface-900"
            [ngStyle]="{ 'left.px': 8, 'top.px': 8 }"
        ></p-tag>

        <div class="flex items-center justify-between mt-3">
            <div class="text-xl font-semibold text-gray-900 dark:text-white">
                ${{ product.price }}
            </div>
            <p-button
                icon="pi pi-shopping-cart"
                styleClass="ml-2 bg-blue-600 hover:bg-blue-700 text-white p-2 rounded-full"
                (click)="goToProduct(product)"
                [attr.aria-label]="'Ver producto ' + product.name"
                title="Ver producto"
            ></p-button>
        </div>
    </div>
</ng-template>
</p-carousel>

<div class="mb-32"></div>
